<div>{{blogform.value | json}}</div>
<div class="card card-block container text-center">
  <h4 class="card-title">Create Blog</h4>
  <form #blogform='ngForm' (submit)='insert(blogform.value)'>
    <div class="form-group">
      <input type="text" class="form-control" name="title" placeholder="enter the title" required ngModel>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="description" placeholder="enter the description" required ngModel>
    </div>
    <div class="form-group">
      <select name="category" ngModel>
        <option value="default">Select a category</option>
        <option *ngFor='let category of categorys' value="{{category}}">{{category}}</option>
      </select>
    </div>
    <button>Create</button>
  </form>
</div>
